html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*html {
    position: relative;
    min-height: 100%;
}*/
html, body {
    height: 100%;
    overflow: auto; /* Allow scrolling */
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    overflow: auto; /* Allow scrolling */
}

 /*body {
    margin-bottom: 60px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);*/ /* Adjust 60px to match the height of your navbar */
    
    /*background-size: cover;
    z-index: -1;*/ /* Ensure the image stays behind other content */
/*}*/


/*added from here*/
.navbar {
    height: 60px; /* Set the navbar height */
    display: flex;
    align-items: center; /* Center contents vertically */
    margin-bottom: 0;
}


.nav-logo {
    height: 100px; /* Set the desired height for the logo */
    width: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Ensure the logo doesn't exceed the navbar's height */
    max-width: 100%; /* Ensure the logo doesn't exceed its container */
    position: relative;
    top: 10px; /* Adjust the vertical position if needed */
}
body {
    margin-bottom: 60px; /* Optional: Set bottom margin to create space for fixed footer or content */
}
.text {
    text-align: center; /* Center text horizontally */
    color: black; /* Set text color to black */
    padding: 70px; /* Optional: Add padding */
}

    .text h1 {
        font-size: 3rem;
        color: black;
        margin-bottom: 20px; /* Add space below h1 */
    }
    /* Optional: Style for the paragraph */
    .text p {
        font-size: 1.0rem; /* Adjust the font size */
        color: black; /* Set paragraph text color to black */
    }

/*body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}*/
/*
.fullscreen-image {
    
}*/
.navbar {
    z-index: 1;
}


