@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    </head>
    
    <div class="homescreen-background">
        <div class="text">
            <h1>Hey,Glad To See You!</h1>
            <p>Your journey to better service starts here!</p>
        </div> 
    </div>
</html>
